/* ---------------- Normalize  ---------------- */
.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 60%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.45em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

address {
  font-style: normal !important;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.icon-gplus:before {
  margin-left: -1px !important;
}

.page_index main, .page_index > hr {
  display: none !important;
}

a, ::before, ::after, img, figure, article, li, #fixed-tabs, #header, #banner, h1, h2, h3, h4, h5, h6, .btn, .btn-alt, .btn:before, .btn-alt:before {
  transition: all 0.2s;
}

i {
  display: inline;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.shadow {
  box-shadow: 0 0 3px #000;
}

img {
  max-width: 100%;
}

a, .btn {
  cursor: pointer;
}

header {
  z-index: 99;
}

footer {
  z-index: 100;
}

/* ---------------- Animations  ---------------- */
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes slideIn {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
/* ---------------- Global Styles  ---------------- */
.flex-ed, .col-flex-ed {
  display: flex;
}

.flex-ed {
  -webkit-box-orient: horizontal;
}

.col-flex-ed {
  flex-flow: column;
}

star {
  line-height: 1;
  margin: 7px auto;
  display: block;
}

star:after {
  font-size: 22px;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80f\e80f\e80f\e80f\e80f";
  color: #e0b828;
  padding: 0 10px;
  letter-spacing: 8.8px;
}

/* -------  Fixed Tabs ------------ */
#fixed-tabs {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  display: flex;
  z-index: 150;
}

#fixed-tabs a {
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 0;
  flex: 1;
  flex-basis: 25%;
}

#fixed-tabs a:first-of-type {
  flex-basis: 50%;
}

#fixed-tabs a:nth-of-type(odd) {
  background-color: #004975;
}

#fixed-tabs a:nth-of-type(even) {
  background-color: #1a1f24;
}

@media (min-width: 1031px) {
  #fixed-tabs {
    display: none;
  }
}
@media (max-width: 1030px) {
  #fixed-tabs i {
    display: inline-block;
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
  }
  footer {
    margin-bottom: 42px !important;
  }
}
@media (max-width: 600px) {
  #fixed-tabs strong {
    display: none;
  }
}
/* ---------------- page foundation ---------- */
body {
  position: relative;
  background-color: #fff;
  text-align: center;
  color: #231f20;
  font: 400 18px/26px "Roboto", sans-serif;
}

p {
  color: #231f20;
  font: 400 18px/26px "Roboto", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #0079c1;
}

a:hover {
  color: #2B333C;
}

h1, h2 h3, h4, h5, h6 {
  font-family: "Prata", serif;
  text-align: center;
}

h1 {
  margin: 50px auto;
  color: #000;
  font: normal 70px/1.3 "Prata", serif;
  letter-spacing: 1.1px;
}

h1 span {
  font: 500 83px/1 "Roboto", sans-serif;
  color: #fff;
  display: block;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: normal;
}

h2 {
  font: normal 50px/1.2 "Prata", serif;
  color: #2B333C;
  letter-spacing: normal;
  margin: 10px 0;
}

h3 {
  font: 600 30px/1 "Roboto", sans-serif;
  color: #2B333C;
  margin: 20px auto 0;
  letter-spacing: 0.15px;
}

main ul {
  list-style: none;
  padding: 0;
  margin: 10px auto;
  text-align: left;
  display: table;
}
main ul li {
  position: relative;
  padding-left: 35px;
  font-size: 24px;
  line-height: 1.2;
  margin: 10px auto;
}
main ul li:before {
  content: "\e832";
  font-family: fontello;
  position: absolute;
  left: 0;
  top: 0;
  color: #0079c1;
}

/*  --------------  Buttons ----------------- */
.btn,
.btn-alt {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 12px 15px;
  min-width: 310px;
  text-align: center;
  color: #000;
  background-color: #45C9BB;
  border: 1px solid #45C9BB;
  border-radius: 35px;
  font: bold 18px/1.1 "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.btn span,
.btn-alt span {
  text-transform: uppercase;
  font-size: 13px;
  vertical-align: middle;
}
.btn:hover,
.btn-alt:hover {
  background-color: #D8EDF3;
  color: #000;
}

.btn-alt {
  border-radius: 0;
}

.flex-ed figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  background: #fff;
  padding: 7px 15px;
}

header {
  position: relative;
  padding: 0;
  z-index: 100;
  background-color: #fff;
}
header address {
  padding: 0 8px;
}
header .address {
  display: flex;
  color: #000;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.55px;
}
header .address:hover {
  color: #2B333C;
}
header .address i:before {
  color: #0079c1;
  font-size: 22px;
  margin-left: -10px;
  margin-right: 15px;
}
header #nav {
  display: flex;
  max-width: 1350px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 10px;
}
header #nav .btn {
  margin: 0;
  font-size: 21px;
  min-width: 200px;
  display: flex;
  color: #231f20;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
}
header #nav .btn span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 26px;
}
header #nav .btn i:before {
  margin-right: 10px;
}
header #nav .btn:hover {
  color: #fff;
}
header #nav .phone {
  margin-bottom: 10px;
}
header #nav .phone:hover {
  color: #0079c1;
}
header #nav #mobile-btns {
  width: 100%;
  display: flex;
}
header #nav #mobile-btns > * {
  flex: 1;
  height: 64px;
}
header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
  justify-content: center;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
}
header #nav #mobile-btns .btn span {
  width: 100%;
  font-size: 28px;
}
header #nav #mobile-btns .phone, header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
header #nav #mobile-btns .phone span, header #nav #mobile-btns .btn span {
  width: 100%;
}
header #nav #mobile-btns .phone {
  background-color: #353C3F;
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 0;
}
header #nav #mobile-btns .phone span {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}
header #nav #mobile-btns #mobile-special .container {
  margin: 10px 0;
  border-top: 2px solid #AFB1B1;
  border-bottom: 2px solid #AFB1B1;
  padding: 5px;
}
header #nav #mobile-btns #mobile-special .container h4 {
  color: #D8EDF3;
  font-size: 22px;
  margin: 0;
}
header #nav #mobile-btns #mobile-special .container small {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 700;
}

.fix-nav header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: slideIn;
  z-index: 110;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  padding-bottom: 10px;
}
.fix-nav header .logo img {
  max-height: 90px;
}
.fix-nav header .logo {
  margin-bottom: 0;
}

.phone {
  display: flex;
  color: #45C9BB;
  font: 700 41px/30px "Roboto", sans-serif;
}
.phone span {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.phone:hover {
  color: #0079c1;
}
.phone i {
  display: flex;
  align-items: center;
}
.phone i:before {
  color: #0079c1;
  font-size: 22px;
  margin-left: 0px;
  margin-right: 15px;
}

/* ------------   Split Img ------------- */
.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 50px auto;
}
.split article {
  margin: 10px;
  padding: 5px;
  flex: 0 1 520px;
}
.split article p {
  -moz-text-align-last: center;
       text-align-last: center;
  letter-spacing: normal;
  line-height: 30px;
  margin-bottom: 30px;
}
.split .btn {
  margin: 10px auto 30px;
}
.split figure img {
  position: relative;
}
.split .no-shad img {
  box-shadow: none;
}
.split.even figure {
  order: -1;
  position: relative;
}
.split.even figure figcaption {
  width: 100%;
  left: 0;
  transform: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.8px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* -------------- Banner ----------------- */
#banner {
  display: flex;
  flex-flow: row wrap;
}
#banner > * {
  flex: 1 0 50%;
}
#banner h1 {
  font: normal 50px/1 "Prata", serif;
  color: #000;
  margin: 30px auto;
}
#banner h1 small {
  font-size: 32px;
  display: block;
  margin-top: 15px;
  letter-spacing: 0.8px;
}
#banner .quiz .flex-ed {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 15px;
  flex-flow: column wrap;
  align-content: center;
  gap: 25px;
}
#banner .quiz h2 {
  font: normal 32px/1 "Roboto", sans-serif;
}
#banner .quiz p.note {
  font: normal 18px/1 "Prata", serif;
  color: grey;
  text-transform: uppercase;
}
#banner .quiz article {
  width: 530px;
  background: #fff;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.46));
  padding: 15px 10px;
}
#banner figure figcaption {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  padding: 10px;
  width: 370px;
  text-align: center;
  letter-spacing: 0.1em;
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  right: 50px;
  color: white;
}
#banner figure figcaption a {
  color: white;
}
#banner figure figcaption a:hover {
  color: #0079c1;
}
#banner figure figcaption span {
  color: #0079c1;
  padding: 0 5px;
}
#banner figure img {
  margin: 0;
  width: 100%;
  height: 100%;
}
#banner > article {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #D8EDF3;
}
#banner > article div span {
  display: block;
  text-transform: none;
  font-family: "Prata", serif;
  font-weight: 500;
  margin: 0 auto 0;
  font-size: 42px;
  letter-spacing: 0.03em;
  line-height: 1.11;
  color: #86e2ff;
}
#banner > article div span small {
  display: inline-block;
  text-align: left;
  font-size: 17px;
  line-height: 17px;
  color: #86e2ff;
}
#banner > article div small {
  font-size: 28px;
  font-family: "Prata", serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: block;
  color: #fff;
}
#banner p {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}

#banner-wrapper {
  position: relative;
  background-color: white;
}

#banner-wrapper:before {
  background-color: #d2e6ed;
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  content: "";
  bottom: -300px;
}

/* After Banner */
#bar {
  background: #2B333C;
  padding: 25px 10px;
}
#bar h3 {
  font: normal 30px/1 "Roboto", sans-serif;
  color: #fff;
  margin: 0;
}

/* Reviews */
#reviews {
  max-width: 1200px;
  margin: 100px auto 0;
}
#reviews ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
#reviews ul li {
  color: #fff;
  margin: 10px 0;
  font-size: 28px;
}
#reviews h4 {
  font: bold 18px/1 "Roboto", sans-serif;
  margin-bottom: 0;
  color: #fff;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
#reviews h3 {
  font: normal 50px/1 "Prata", serif;
  margin: 10px auto;
  color: #fff;
}
#reviews .flex-ed {
  flex-flow: row wrap;
  justify-content: space-between;
}
#reviews .flex-ed:first-of-type {
  background: #2B333C;
}
#reviews .flex-ed > div.list {
  flex: 0 1 660px;
  display: flex;
  flex-flow: column wrap;
  padding-top: 40px;
}
#reviews .caption {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1.3px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  color: #231f20;
  font-family: "Prata", serif;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}
#reviews .caption a {
  color: #231f20;
  letter-spacing: 1.6px;
}
#reviews .caption a:hover {
  color: #0079c1;
}
#reviews #mobile-doc {
  display: none;
}
#reviews .flex-ed figure img {
  margin: 0;
  width: 100%;
}
#reviews .review {
  background: #D8EDF3;
  flex-flow: row;
  filter: drop-shadow(4px 4px 11px rgba(0, 0, 0, 0.23));
}
#reviews .review h5 {
  font: normal 30px/1 "Prata", serif;
  margin: 0;
}
#reviews .review img {
  padding: 50px;
  margin: 0;
}
#reviews .review author {
  color: #121618;
  text-align: left;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#reviews .review author img {
  padding: 0;
}
#reviews .review > div {
  padding: 5px 10px 5px 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#reviews .review > div > * {
  text-align: left;
}
#reviews .review p {
  position: relative;
  font-size: 32px;
  line-height: 35px;
  margin: 10px auto;
}
#reviews .review p:before {
  content: "\e838";
  position: absolute;
  left: -42px;
  top: -43px;
  font-family: fontello;
  color: #0079c1;
  font-size: 42px;
  transform: rotateZ(180deg);
}

/* -- mobile reviews -- */
#mobile-reviews {
  background-color: #D8EDF3;
  padding: 100px 30px;
}
#mobile-reviews .review-container {
  position: relative;
  background-color: #fff;
  box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.35);
  max-width: 1200px;
  color: #0079c1;
  align-items: center;
  padding: 0;
  margin: auto;
  flex-wrap: nowrap;
  border-radius: 10px;
}
#mobile-reviews .review-container #google {
  background-color: #fff;
  flex: 0 1 225px;
  align-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
#mobile-reviews .review-container #google img {
  padding: 5px 0;
}
#mobile-reviews .review-container #google > div {
  margin-top: 50px;
  padding: 5px 25px;
}
#mobile-reviews .review-container #google p {
  color: #0079c1;
  font-size: 20px;
  line-height: 1.25;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  font-size: 15px;
  color: #231f20;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
}
#mobile-reviews .review-container #google p span {
  width: 100%;
}
#mobile-reviews .review-container #google p img {
  margin: auto;
}
#mobile-reviews .review-container #google .review-stamp {
  position: absolute;
  top: -50px;
  left: -50px;
}
#mobile-reviews .review-container .comment {
  flex: 1 1 780px;
  padding: 20px 20px 50px;
  text-align: left;
  margin: auto;
}
#mobile-reviews .review-container .comment p {
  font: 400 30px/34px "Roboto", sans-serif;
  margin-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 30px;
}
#mobile-reviews .review-container .comment .caption2 {
  font: 600 normal 18px/1 "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 30px 0 10px;
  letter-spacing: 1.95px;
  text-align: center;
}

/* 2nd Quiz Section */
#quiz {
  padding: 75px 10px;
  background: #F6F4F2;
}
#quiz .quiz .flex-ed {
  max-width: 1300px;
  margin: auto;
}
#quiz .quiz h2 {
  font: normal 40px/1 "Roboto", sans-serif;
}
#quiz .quiz p.note {
  font: normal 18px/1 "Prata", serif;
  color: grey;
  text-transform: uppercase;
}
#quiz .quiz article {
  background: #fff;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.46));
}
#quiz article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  margin-left: 20px;
  z-index: 1;
  flex: 0 1 610px;
}
#quiz article:last-of-type h2 {
  margin-bottom: -10px;
}
#quiz article div {
  background-color: #231f20;
  font: 400 24px/41px "Prata", serif;
  letter-spacing: 1.2px;
  color: #fff;
  text-align: center;
  border-top: 5px solid rgba(206, 216, 255, 0.5);
  border-bottom: 5px solid rgba(206, 216, 255, 0.5);
  max-width: 585px;
  margin: auto;
  padding: 5px 0;
  letter-spacing: 2.5px;
}
#quiz article div span {
  display: block;
  text-transform: none;
  font-family: "Prata", serif;
  font-weight: 500;
  margin: 0 auto 0;
  font-size: 42px;
  letter-spacing: 0.03em;
  line-height: 1.11;
  color: #86e2ff;
}
#quiz article div span small {
  display: inline-block;
  text-align: left;
  font-size: 17px;
  line-height: 17px;
  color: #86e2ff;
}
#quiz article div small {
  font-size: 28px;
  font-family: "Prata", serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: block;
  color: #fff;
}

/* ---------------- Callouts Styles  ---------------- */
.callouts {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  max-width: 1140px;
  height: auto;
  padding: 10px 0;
  width: 100%;
  margin-top: 80px;
  z-index: 102;
}
.callouts .col {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin: 15px 0;
  padding: 5px;
}
.callouts .col h3 {
  margin-bottom: 20px;
  margin-top: 0;
  color: #88c6ff;
}
.callouts .col:hover h3 {
  color: #2B333C;
}
.callouts .portrait {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.callouts .portrait:after {
  content: "";
  width: 95%;
  height: 95%;
  position: absolute;
  border: 2px solid white;
  border-radius: 10px;
  z-index: 3;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.callouts .portrait:hover:after {
  border-color: #2B333C;
}
.callouts .portrait img {
  position: relative;
  z-index: 3;
}
.callouts p {
  line-height: 1.2;
  margin-top: 15px;
  letter-spacing: 0.45px;
}

#options {
  margin-top: 50px;
  max-width: 1180px;
  display: block !important;
}
#options div {
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
#options > .flex-ed {
  justify-content: space-around;
  flex-wrap: wrap;
}
#options h2 {
  font-size: 60px;
  margin-bottom: 25px;
}
#options .col {
  background-color: transparent;
  z-index: 105;
}
#options .col h3 {
  font-size: 30px;
  color: #231f20;
  letter-spacing: normal;
  font-family: "Prata", serif;
  font-weight: normal;
  margin: 0 0 25px;
}
#options .col .portrait {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
#options .col .portrait:after {
  color: white;
}
#options .col:last-of-type h3 {
  margin: 0 -20px 25px;
}

#choice figcaption {
  margin-top: 10px;
  letter-spacing: 2.2px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

#choice {
  margin-bottom: 0;
}
#choice figure {
  align-self: end;
}

#secondary {
  background: #2B333C;
  margin: 0 auto 10px;
  padding: 50px 20px 40px;
}
#secondary .callouts {
  margin-top: 0;
}
#secondary .callouts .icon-map-marker {
  top: -5px;
  font-size: 30px;
  color: #0079c1;
}
#secondary .callouts .portrait {
  min-height: 260px;
}
#secondary .callouts .portrait:after {
  width: 92%;
  height: 92%;
  border: 2px solid #0079c1;
}
#secondary .callouts .portrait:hover:after {
  border-color: #2B333C;
}
#secondary a {
  flex: 0 0 255px;
}
#secondary a h3 {
  letter-spacing: 0.26px;
  line-height: 1.2;
  margin: 0 auto;
  color: #1a1a1a;
  font-weight: 500;
  font-family: "Prata", serif;
  font-size: 30px;
}
#secondary a h3 star:after {
  color: #FFD248;
}
#secondary i:before {
  font-size: 28px;
}

/* -------------- Team ----------------- */
#team figure {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 530px;
  margin-left: 50px;
  position: relative;
}
#team figcaption {
  margin-top: 10px;
  color: #2b2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
}
#team figcaption a {
  color: #2b2b2b;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
#team figcaption a:hover {
  color: #0079c1;
}

/* ---------------- Contact --------------- */
footer {
  padding-top: 70px;
  background-color: #2B333C;
}
footer .flex-ed {
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
footer article {
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  flex: 0 1 340px;
  padding: 10px;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
footer .phone {
  font-size: 40px;
  color: #0079c1;
  margin: 10px auto;
  font-weight: 700;
  display: block;
  letter-spacing: 0.28px;
  font-family: "Roboto", sans-serif;
}
footer .phone:hover {
  color: #2B333C;
}
footer .address {
  color: #000;
  font-size: 20px;
  line-height: 1.1;
  margin-top: 20px;
}
footer .address:hover {
  color: #2B333C;
}
footer h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #101926;
  font-weight: 500;
  font-size: 30px;
  font-family: "Prata", serif;
}

#services, #footer-form {
  min-height: 430px;
}
#services h3, #footer-form h3 {
  font-size: 30px;
}

#contact {
  flex: 0 1 540px;
  padding: 20px 10px;
}
#contact h3 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 25px;
}
#contact #footer-logo {
  display: none;
}

#map {
  display: table;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#map iframe {
  display: block;
}

#services {
  order: -1;
}
#services ul {
  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 10px;
}
#services li {
  margin: 10px auto;
  list-style: none;
  text-align: center;
  border: 1px solid #0079c1;
  background-color: #45C9BB;
}
#services li a {
  display: block;
  color: #000;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  padding: 25px 20px 22px;
}
#services li:hover {
  background-color: #2B333C;
}
#services li:hover a {
  color: white;
}

.simple {
  margin: 20px 0 5px;
}
.simple .btn {
  width: 90%;
  font-size: 18px;
  border-radius: 0;
  font-weight: 700;
  padding: 15px 10px;
  min-width: auto;
  background-color: #45C9BB;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
}
.simple .btn:hover {
  background-color: #2B333C;
  color: #fff;
}
.simple input {
  height: 45px;
}
.simple textarea {
  height: 90px;
  padding-top: 8px;
}
.simple input, .simple textarea {
  outline: none;
  border: none;
  background-color: #ededed;
  margin: 3px 0;
  width: 90%;
  padding: 6px 10px;
  font-size: 18px;
  color: #231f20;
}
.simple input:focus, .simple textarea:focus, .simple .btn:focus {
  background-color: #f7f4f4;
  box-shadow: inset 0 3px 0 #2B333C;
}

::-moz-placeholder {
  color: #231f20;
}

::placeholder {
  color: #231f20;
}

.copy {
  font: 400 18px/1.4 "Roboto", sans-serif;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  padding: 10px 0 60px;
}
.copy span {
  padding: 0 5px;
}
.copy a {
  margin: auto;
  color: #45C9BB;
}
.copy a:hover {
  color: #0079c1;
}

/* ---------------- New Patient Form ---------------- */
#landing-page-form {
  position: relative;
  max-width: 850px;
  padding: 0px 10px 10px;
  margin: 20px auto;
}
#landing-page-form h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #2B333C;
  text-align: center;
  padding-top: 20px;
  font-weight: 400;
  text-shadow: none;
}
#landing-page-form p {
  max-width: 680px;
  margin: auto;
  margin-bottom: 30px;
}
#landing-page-form .simple {
  margin: auto;
  display: table;
  width: 100%;
  max-width: 550px;
}
#landing-page-form .simple label {
  display: none;
}
#landing-page-form .simple input {
  height: 50px;
}
#landing-page-form .simple textarea {
  height: 200px;
  margin-bottom: 30px;
  padding-top: 10px;
}
#landing-page-form .btn {
  width: 160px;
}

#landing-page-form {
  position: relative;
  max-width: 850px;
  padding: 0 10px 10px;
  margin: 20px auto;
}

#landing-page-form h2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #384E4D;
  text-align: center;
  padding-top: 20px;
  font-weight: 400;
  text-shadow: none;
}

#landing-page-form p {
  max-width: 680px;
  margin: auto;
  margin-bottom: 30px;
}

#landing-page-form .simple {
  margin: auto;
  display: table;
  width: 100%;
  max-width: 550px;
}

#landing-page-form .simple label {
  display: none;
}

#landing-page-form .simple input:not([class^=btn]), #landing-page-form .simple select {
  height: 50px;
}

#landing-page-form .simple textarea {
  height: 200px;
  margin-bottom: 30px;
  padding-top: 10px;
}

#landing-page-form .btn {
  width: 160px;
}

#landing-page-form.landing-page-quiz .simple label {
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#landing-page-form.landing-page-quiz select {
  width: 90%;
}

hr {
  border-bottom: 1px solid rgba(151, 151, 151, 0.74);
  box-shadow: 5px 1px 1px rgba(14, 14, 15, 0.35);
  margin-top: 30px;
  display: none;
}

/* ---------------- Media Queries ---------------- */
@media (max-width: 1160px) {
  #options {
    flex-wrap: wrap;
    max-width: 1050px;
  }
}
@media (max-width: 1110px) {
  h1 {
    font-size: 50px;
  }
  h1 span {
    font-size: 60px;
  }
}
@media (max-width: 1040px) {
  header address a {
    font-size: 15px;
  }
  #reviews .review-container .flex-ed .list {
    flex: 100%;
  }
  #reviews .review-container .flex-ed figure {
    flex: 0 1 600px;
    margin: auto;
  }
  #reviews .review-container .flex-ed figure .caption {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
  }
  .phone {
    font-size: 21px;
  }
  h1 {
    font-size: 44px;
  }
  h1 span {
    font-size: 55px;
  }
  .callouts h3 {
    font-size: 25px;
  }
  #secondary a {
    flex: 0 0 230px;
  }
}
@media (min-width: 1000px) {
  .phone span {
    display: none;
  }
  #mobile-reviews {
    display: none;
  }
  #mobile-btns {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  #reviews .flex-ed figure {
    width: 100%;
  }
  #reviews {
    padding: 0;
  }
  #reviews .review {
    display: none;
  }
  #review-container {
    flex-wrap: wrap;
  }
  #google {
    flex: 0 1 100%;
    border-radius: 0;
  }
  #google p {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 10px;
  }
  #google p img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 10px;
  }
  #google > div {
    margin-top: 10px;
  }
  header #nav > .btn, #nav > #header-details {
    display: none !important;
  }
  #reviews .review {
    flex-flow: row wrap;
  }
  #reviews .flex-ed > div.list {
    margin: auto;
  }
  .review > div {
    align-items: center;
  }
  hr {
    display: block;
    max-width: 95%;
  }
  header #nav {
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    padding: 0;
  }
  header #nav .logo {
    padding: 20px;
    margin-left: 0;
  }
  header #nav .btn {
    margin: 10px 0 0;
    font-size: 16px;
  }
  header address {
    display: none;
  }
  header #nav #header-details {
    order: 1;
  }
  #banner {
    background: none;
  }
  #banner h1 {
    font-size: 52px;
  }
  #banner article {
    min-width: 450px;
    padding: 40px 20px 50px;
  }
  #banner .flex-ed {
    display: block;
  }
  #banner article {
    margin: 10px auto 20px;
    padding-top: 20px;
  }
  #banner figure {
    display: block;
  }
  .split {
    margin: 20px auto;
    display: block;
    padding: 20px;
  }
  .split article {
    max-width: 100%;
  }
  .split article .btn {
    float: none;
    margin: auto;
    display: table;
  }
  .split figure {
    margin: 20px auto;
  }
  .callouts {
    flex-wrap: wrap;
    max-width: 600px;
  }
  .callouts .calls {
    max-width: 600px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
  }
  #choice figure {
    margin-bottom: 0;
  }
  #secondary {
    padding: 15px 0;
  }
  #secondary a {
    flex: 0 0 255px;
  }
  footer .flex-ed {
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
  }
  #services {
    order: -1;
  }
  #contact {
    flex: 0 1 690px;
  }
  #contact h3 {
    font-size: 36px;
  }
  #services, #footer-form {
    flex: 100%;
  }
  #team figure {
    max-width: 475px;
    margin: auto;
  }
  #banner figure img {
    display: block;
  }
}
@media (max-width: 740px) {
  #nav .logo {
    margin-top: 0px;
    max-width: 100%;
    flex: 1 1 100%;
  }
  #nav {
    flex-wrap: wrap;
    text-align: center;
  }
  #nav .btn {
    display: table;
    margin: 10px 5px;
  }
  #reviews .review img {
    margin: auto;
  }
  #quiz {
    padding: 45px 10px;
  }
  #quiz article {
    margin: 5px auto;
  }
  footer article {
    margin: 20px 40px;
  }
  #reviews {
    margin: 75px 20px 60px;
  }
  #reviews h3 {
    font-size: 36px;
  }
  .fix-nav header {
    padding-bottom: 0;
  }
  #banner article {
    margin-top: 0;
  }
  .phone i {
    display: none;
  }
  #banner .quiz article {
    width: revert;
  }
  #banner figure {
    max-width: 100%;
    order: 1;
  }
  .callouts .col {
    margin: 10px auto;
  }
  .callouts a h3 {
    margin-bottom: 15px;
    line-height: 1.2;
  }
  #banner-wrapper {
    margin-top: 0;
  }
  header {
    padding-bottom: 0;
  }
  .quiz .flex-ed {
    flex-flow: row wrap;
    gap: 20px;
  }
}
@media (max-width: 590px) {
  figcaption {
    width: 200px;
  }
  #nav .logo {
    max-width: 90%;
  }
  #banner h1 {
    font-size: 42px;
  }
  h1 span {
    font-size: 42px;
    margin: 10px;
  }
  #reviews .flex-ed .list ul {
    padding: 15px;
  }
  #reviews .flex-ed .list ul li {
    font-size: 21px;
  }
  #reviews .review > div {
    padding-left: 60px;
  }
  #banner h1 small {
    font-size: 28px;
  }
  #banner article {
    min-width: 300px;
    margin-top: 0;
  }
  #banner article div {
    line-height: 1.1;
  }
  #banner > article {
    margin-bottom: 0;
  }
  #bar h3 {
    font-size: 21px;
  }
  h2 {
    margin-top: 20px;
    font-size: 34px;
  }
  .split h2 {
    position: relative;
    padding-bottom: 15px;
  }
  .split h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 125px;
    height: 2px;
    margin: 0 auto;
    right: 0;
    left: 0;
    background-color: #000;
  }
  .split article p {
    text-align: center;
    padding: 0 10px;
  }
  .copy {
    padding: 40px 10px 25px;
  }
  #map {
    display: none;
  }
  footer #contact {
    padding: 20px 10px;
  }
  footer #contact #footer-logo {
    display: block;
  }
  #landing-page-form h1 {
    font-size: 40px;
  }
  .btn {
    min-width: auto;
    max-width: 100%;
  }
  #banner .quiz h2 {
    font-size: 21px;
    margin-top: 0;
  }
  #banner .quiz article {
    padding: 15px;
  }
  #banner .quiz .btn {
    padding: 5px 25px;
  }
  #options h2 {
    font-size: 50px;
  }
  #quiz .quiz h2 {
    font-size: 30px;
  }
  #quiz article {
    padding: 20px 10px;
  }
}
@media (max-width: 400px) {
  #banner h1 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  #banner article div {
    font-size: 24px;
    padding-top: 10px;
  }
  #banner article div span strong {
    font-size: 20px;
  }
  .split article .btn {
    font-size: 18px;
    margin-bottom: 20px;
  }
  #callouts h2 {
    font-size: 36px;
  }
  .callouts {
    padding-bottom: 10px;
  }
  #team figure {
    display: table;
  }
  #services h3 {
    margin-top: 10px;
  }
  #services ul li a {
    font-size: 18px;
  }
  .copy {
    padding-bottom: 20px;
  }
  .copy span:last-of-type {
    display: block;
    font-size: 5px;
    visibility: hidden;
  }
}
@media (max-width: 350px) {
  #nav {
    display: block;
  }
  #nav .btn {
    margin: 10px auto;
  }
  #banner h1 {
    line-height: 1;
  }
  #banner article .btn {
    font-size: 20px;
  }
  #banner article div {
    font-size: 16px;
  }
  #banner article div span {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
  .split article .btn {
    padding: 5px 7px;
    font-size: 22px;
  }
}/*# sourceMappingURL=lp-implant-styles.css.map */